@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root{
    --cor1: #0D0D0D;
    --cor2: #548582;
    --cor3: #9FC7B2;
    --cor4: #ffffff;
    --cor5: #024873; 
 
    --font: 'Inter', sans-serif;;
}

body{
    background-image: linear-gradient(to top, var(--cor2), var(--cor3));
    background-attachment: fixed;
    font-family: var(--font);
}

/* Container */

#container{
    background-color: var(--cor4);
    width: 50vw;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 4px 4px 8px #24282ba4;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container #TextCenter1{
    text-align: center;
    font-size: 40px;
    font-weight: 400;
}

#container #TextCenter2{
    text-align: center;
    font-size: 25px;
    font-weight: 500;
}

/* Content */

#content{
    margin-top: 25px;
    padding: 10px;
}

#content ul li{
    display: flex;
    justify-content: center;
    line-height: 40px;
}

#content ul li a{
    color: var(--cor1);
    font-size: 32px;
    font-weight: normal;
    transition-duration: 0.4s;
}

#content ul li a:hover{
    color: var(--cor5);
    text-decoration: none;
}

/* ----------- */

@media (max-width: 680px){
    #container{
        width: 80vw;
    }

    #container #TextCenter1{
        font-size: 30px;
        font-weight: 500;
        text-align: center;  
    }

    #container #TextCenter2{
        font-size: 20px;
        font-weight: 600;
    }

    #content ul li a{
        font-size: 30px;
    }
}

@media (max-width: 458px){
    #container #TextCenter1{
        font-size: 28px;
        font-weight: 600;
        text-align: center;  
    }

    #container #TextCenter2{
        font-size: 18px;
        font-weight: 700;
    }
}